body{
    font-family: Arial;
    justfy-content: center;
}
.todo-grid,
.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
   
}
.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}
.name-input,.due-date-input{
    font-size: 15px;
    padding: 6px;
    border-radius: 10px;

}
.add-todo-button{
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 2px black;
    font-size: 15px;
    cursor: pointer;
}
.delete-todo-button{
    background-color: darkred;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 2px black;
    padding: 10px;
    cursor: pointer;
}
